<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="./assets/favicon.png" />
<link rel="stylesheet" href="./styles/global/style.css" />
<script src="http://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<meta name="description" content="A realtime chat application created using Node Js" />
<meta name="keywords" content="Chat app, node, node Js chat application, ratul-devr, devr" />
<meta name="owner" content="azammmgol@gmail.com" />
<meta name="author" content="ratul-devr" />
<title><%= title %></title>
