<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      span {
        color: red;
      }
    </style>
  </head>

  <body>
    <h1>Error Status: <span><%= error.status %></span></h1>
    <p><%= error.message %></p>
  </body>
</html>
