<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="./styles/signup/style.css" />
  </head>
  <body>
    <%= title %>
  </body>
</html>
